doctype 5
head
  title Gitter Bot
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='/image/favicon.ico')
  link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  link(href='/css/style.css', rel='stylesheet')

body
  block content
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
